[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Frecuencímetro-Afinador de guitarra con Python/PyQt5 - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=U9E1Ps2EKig&feature=youtu.be
Icon=text-html
Name[es_ES]=tutorial youtube
