[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia luisfico/tutorial_pyfrecuencimetro
Type=Link
URL=https://github.com/luisfico/tutorial_pyfrecuencimetro
Icon=text-html
Name[es_ES]=tutorial github
